#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
# Copyright (c) 2025 AzoraNova https://github.com/AzoraNova (for changes made)


################################################################
#   ___                            _   _                       #
#  / _ \    Config Update by      | \ | |                      #
# / /_\ \ ____  ___   _ __   __ _ |  \| |  ___  __   __  __ _  #
# |  _  ||_  / / _ \ | '__| / _` || . ` | / _ \ \ \ / / / _` | #
# | | | | / / | (_) || |   | (_| || |\  || (_) | \ V / | (_| | #
# \_| |_//___| \___/ |_|    \__,_|\_| \_/ \___/   \_/   \__,_| #
#             ** https://github.com/AzoraNova **               #
#                                                              #
################################################################    	
    

[worldserver]

########################################
#     Challenge Modes v2 Config        #
########################################
# Enable or disable different challenge modes.
# Set to 1 to enable, or 0 to disable.
# Default: 0 (Disabled) / 1 (Enabled)

ChallengeModes.Enable = 1

########################################
# Available Challenge Modes:
########################################
# 1. Hardcore            - Players who die are permanently ghosts and cannot be revived.
# 2. SemiHardcore        - Players who die lose all worn equipment and carried gold.
# 3. SelfCrafted         - Players can only wear equipment they have crafted.
# 4. ItemQualityLevel    - Players can only wear equipment of Normal or Poor quality.
# 5. LowXpGain          - Players receive 0.5x the normal amount of XP.
# 6. VeryLowXpGain      - Players receive 0.25x the normal amount of XP.
# 7. QuestXpOnly         - Players can only receive XP from quests.
# 8. IronManMode         - Enforces the Iron Man ruleset.

########################################
# Challenge Mode Configuration        #
########################################
# Each challenge mode can have the following settings:
# - Enable: Whether the challenge is available (1 = enabled, 0 = disabled).
# - TitleRewards: Titles awarded at specific levels (Level TitleID format).
# - XPMultiplier: Multiplies XP the player gains.
# - TalentRewards: Rewards talent points at specific levels.
# - ItemRewards: Rewards items at specific levels.
# - DisableLevel: Level at which the challenge is disabled (0 means no disable).
# - ItemRewardAmount: The amount of each item rewarded.
# - AchievementReward: Achievement(s) rewarded at specific levels.

########################################
# Hardcore Mode Configuration          #
########################################
Hardcore.Enable = 1
Hardcore.TitleRewards = ""
Hardcore.XPMultiplier = 1
Hardcore.TalentRewards = ""
Hardcore.ItemRewards = "80 50818"
Hardcore.ItemRewardAmount = 1
Hardcore.DisableLevel = 80
Hardcore.AchievementReward = ""

########################################
# Semi-Hardcore Mode Configuration     #
########################################
SemiHardcore.Enable = 1
SemiHardcore.TitleRewards = ""
SemiHardcore.XPMultiplier = 1
SemiHardcore.TalentRewards = ""
SemiHardcore.ItemRewards = "80 49286"
SemiHardcore.ItemRewardAmount = 1
SemiHardcore.DisableLevel = 80
SemiHardcore.AchievementReward = ""

########################################
# Self-Crafted Mode Configuration      #
########################################
SelfCrafted.Enable = 1
SelfCrafted.TitleRewards = ""
SelfCrafted.XPMultiplier = 1
SelfCrafted.TalentRewards = ""
SelfCrafted.ItemRewards = "80 49283"
SelfCrafted.ItemRewardAmount = 1
SelfCrafted.DisableLevel = 80
SelfCrafted.AchievementReward = ""

########################################
# Item Quality Level Mode Configuration#
########################################
ItemQualityLevel.Enable = 1
ItemQualityLevel.TitleRewards = ""
ItemQualityLevel.XPMultiplier = 1
ItemQualityLevel.TalentRewards = ""
ItemQualityLevel.ItemRewards = "80 54069"
ItemQualityLevel.ItemRewardAmount = 1
ItemQualityLevel.DisableLevel = 80
ItemQualityLevel.AchievementReward = ""

########################################
# Slow XP Gain Mode Configuration       #
########################################
LowXpGain.Enable = 1
LowXpGain.TitleRewards = ""
LowXpGain.TalentRewards = ""
LowXpGain.ItemRewards = "80 43599"
LowXpGain.ItemRewardAmount = 1
LowXpGain.DisableLevel = 80
LowXpGain.XPMultiplier = 0.50
LowXpGain.AchievementReward = ""

########################################
# Very Slow XP Gain Mode Configuration #
########################################
VeryLowXpGain.Enable = 1
VeryLowXpGain.TitleRewards = ""
VeryLowXpGain.TalentRewards = ""
VeryLowXpGain.ItemRewards = "80 8589"
VeryLowXpGain.ItemRewardAmount = 1
VeryLowXpGain.DisableLevel = 80
VeryLowXpGain.XPMultiplier = 0.25
VeryLowXpGain.AchievementReward = ""

########################################
# Quest XP Only Mode Configuration     #
########################################
QuestXpOnly.Enable = 1
QuestXpOnly.TitleRewards = ""
QuestXpOnly.XPMultiplier = 1
QuestXpOnly.TalentRewards = ""
QuestXpOnly.ItemRewards = "80 49290"
QuestXpOnly.ItemRewardAmount = 1
QuestXpOnly.DisableLevel = 80
QuestXpOnly.AchievementReward = ""

########################################
# Iron Man Mode Configuration          #
########################################
IronMan.Enable = 1
IronMan.TitleRewards = ""
IronMan.TalentRewards = ""
IronMan.ItemRewards = "80 32458"
IronMan.ItemRewardAmount = 1
IronMan.DisableLevel = 80
IronMan.XPMultiplier = 1
IronMan.AchievementReward = ""


########################################
# Notes:
########################################
#
# - Adjust settings according to the challenge you wish to enable.
# - Disable a challenge by setting its "Enable" value to 1.
# - Use DBC data (CharTitles.dbc, Item.dbc, etc.) for valid title, item, and achievement IDs.
# - or use https://www.wowhead.com/wotlk to lookup items ( Not always the same as Core DB )
# - Set "DisableLevel" to 0 if you want the challenge to never be disabled.
#    or lets say 70 for challenge to stop at level 70 ect.. for this config it is 80
#
# NOTE On Award setting:
# - If want to give item per level e.g: Challange.ItemRewards do  "10 39355" 1st is level 2nd is item 
#   to add item per 10 level eg: "10 39355,20 45198,30 46023" gives item per 10 levels
#
########################################
